 
<div class="sc-bdvvtL sc-cQYgkQ dKBXEK bSXqBF">
    <h4 class="sc-bdvvtL sc-faUpoM dKBXEK enDepC sc-TBWPX sc-hFxENk fbClLW bABDUc">Need some help?</h4>
<div color="#335471" class="sc-bdvvtL sc-faUpoM esYykm bkNfOI sc-jIkXHa djqNbW">It looks like you are experiencing some problem with us. We are here to help you, so please get in touch with us.</div>
      
    <img loading="lazy" alt="alt" src="https://emr-assets.docon.co.in/patient-react/images/needhelp.svg" class="sc-bdvvtL dKBXEK sc-BHvUt fJlZte">
</div>

<h4 class="fottext">Help with other queries</h4>

<div id="faq" class=" sc-iODwXF  botmcontent">FAQs</div>

<div id="ltc" class=" sc-iODwXF  botmcontent">Legal Terms &amp; Conditions</div> 


