 
.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }
  .createpatient{

    background-color:  #0089FF;
    padding: 20px;
    border-radius: 5px;
  }
  .primary{
    background-color:bisque
  }

  .createpatient{
    color:aliceblue;
    font-weight:500;
  }