
.head{
  background-color: white;
  height: 54px; ;
   box-shadow:  0px 8px #f1eded;

}
 
.gLlFyr {
  height: 56px;
  width: 100%;
  -webkit-box-align: center;
  align-items: center;
  gap: 12px;
  flex: 0 0 auto;
  padding: 0px 30px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgb(23 23 77 / 10%) 0px 2px 4px 0px;
  z-index: 1;
}
.eBmiVY {
  display: flex;
  flex-flow: row wrap;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

img {
  vertical-align: middle;
  border-style: none;
}
.hVRysI {
  margin-left: auto;
}

.example-container {
    width: 80%;
    height: 100%;
    margin: 10px;
    
  }

  .sidenav{
    width:300px;
    min-width: none;
    padding:10px;
    word-spacing: 5px;
  }
    .home{
    letter-spacing: inherit;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: gray;
    text-decoration: none;
  }
  
 

  .active{
    background-color:#EBF6FF;
    padding: 5px;
    border-radius: 5px;
    color: #0089FF;
}
 