 
<meta name="viewport" content="width=device-width, initial-scale=1">
<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
     <div class="save" ><button type="button" class="btn btn-primary" data-bs-toggle="button" autocomplete="off">Save</button>
     </div>
      </div>
     </nav>
    <hr>
   

<div class="container mt-5" >

 
    <form class="content">
    
  <div class="row"> 
      <div class=" col-lg-6 col-6">
            <p>mobile number</p>
            <p>{{email}}</p>
              <p>1234567899</p>
          </div>
          <div class=" col-lg-6 col-6"> 
              <img  class="logo" src="https://emr-assets.docon.co.in/patient-react/images/user.png">
          </div>

       <div class=" col-lg-6 col-6">
          
           <label>first name</label>
           <input type="text" style="height:30;" class=" form-control">

       </div> 
       <div class=" col-lg-6 col-6">
          <label>Last name*</label>
          <input type="text" style="height:30;" class=" form-control">

        </div>
        <div class=" col-lg-6 col-6">
          <label>Date of Birth</label>
          <input type="date"  class=" form-control" value="dd/mm/yy">
        </div>

       <div class=" col-lg-6 col-6">
          <label>Gender</label><br>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
              <label class="form-check-label" for="inlineRadio1">male</label>
            </div>
              <div class="form-check form-check-inline">
                 <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                  <label class="form-check-label" for="inlineRadio1">female</label>
             </div>
        </div> 

        <div class=" col-lg-6 col-6">
          <label>email id</label>
          <input type="text" style="height:30;" class=" form-control">

      </div> 
      <div class=" col-lg-6 col-6">
         <label>address</label>
         <input type="text" style="height:30;" class=" form-control">

       </div>

       <div class=" col-lg-6 col-6">
          <label>Street name</label>
          <input type="text" style="height:30;" class=" form-control">

      </div> 
      <div class=" col-lg-6 col-6">
         <label>Pin code</label>
         <input type="text"style="height:30;" class=" form-control">

       </div>

       <div class=" col-lg-6 col-6">
           <p>Notification Settings</p>
          
       
       </div>
        </div>     
</form>


</div> 
