 <div class="container-fluied">
            <div class="header-1">
             <img class="logo" alt="" height="27px" src="https://emr-assets.docon.co.in/patient-angular/assets/images/logo_new@3x.png" width="100px">     
        </div>
</div>
        <div class="container-fluied ">
            <div class="header-2">
                <span class="whiteFont">
                    Video consultation is available on docon app
                </span>
               <span class="whiteFont promoAction ">
                    Download
                  </span>             
            </div>
          </div>
          <div class="container boddy ">
                 <div class="row">
                     <div class="col-sm-6">
                            <div class="firstGroup">
                                    <div  class="row maintitle">
                                    Digital Healthcare for your family
                                    </div>
                                    <div   class="row subtitle">
                                    Get access to your prescriptions
                                    </div>
                                    <div   class="row subtitle minPad">
                                    Book appointments with your favourite doctors
                                    </div>
                        
                            </div>
                     <div  class="row">
                                <span  class="actionBtn col-sm-3">
                                    <button class="docon-btn view action ">
                                        <a routerLink="/loginpage">loginpage</a>  
                                    </button>

                                </span>
                                <span   class="actionBtn col-sm-3">
                                    <button  class="docon-btn book action remove safari-btn" square="" white="">
                                        Bookappointment
                                    </button>
                            </span>
                     </div>
                        </div>
                        <div class="col-sm-6">

                            <div class="img">
                                <img class="desktopfirstCardImage " alt="" src="https://emr-assets.docon.co.in/patient-angular/assets/images/hero_3x.png">
                            </div>
                        </div>
                </div>

          </div>
          